body{
    padding:50px;
}
.container{
    max-width: 600px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(111, 100, 102, 0.2) 0px 7px 29px 0px;
}
.form-group{
    margin: 10px 30px;
}
h1{
    padding: 10px;
}